.login-form {
    display: flex;
    height: 100%;
}

.form-group {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
    background-color: lightblue;
    border-radius: 10px;
}

.form-control {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    input {
        width: 250px;
        padding: 10px 15px;
        border-radius: 100px;
        border: none;
        margin-top: 5px;
    }
}

.input-error {
    color: red;
    font-size: 12px;
    font-weight: normal;
}
